
/* - - - - - GLOBAL CLASS - - - - - */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: sans-serif;
}

.container{
    width: 90%;
    margin: 50px auto;
    background-color: white;
}

.heading{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}


.row-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}



/* - - - - - CARDS - - - - - */

.card{
    width: 20%;
    background-color: white;
    margin-bottom: 50px;
    transition: 0.3s;
    
}


.card-header{
    text-align: center;
    padding: 50px 10px;
    color: #fff;
    
}

.card-header-img{
    text-align: center;
    padding: 0;
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
    text-align: center;
}

.card-header-img img{
    width: 100%;
    background-size: cover;
    background-position: center;
}

.card-txt-up{

    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(-50%, -50%);
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}


.card-body .btn{
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 30px;
    padding: 10px 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;

}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0 , 0 , 0 , 0.25);
}



/* - - - - - PROFILE CARDS - - - - - */

.card-profile{
    width: 20%;
    height: 40%;
    background-color: white;
    margin-bottom: 50px;
    transition: 0.3s;
}



.card-p-body{
    text-align: center;
    padding: 50px 10px;
    color: #fff;
    
}


.card-p-body img{
    
    border-radius: 100%;
    width: 50%;
    padding-bottom: 10px;
    
}

.card-txt-sub{
    padding-top: 5px;
    color: gray;
}

.card-txt-des{
    padding-top: 5px;
    color: black;
    font-size: 15px;
}

.card-btn-foot{
    
    display: block;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    padding: 30px 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.card-profile:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0 , 0 , 0 , 0.25);
}



/* - - - - - WARNING CARDS - - - - - */

.card-warning{
    width: 20%;
    height: 40%;
    background-color: white;
    margin-bottom: 50px;
    transition: 0.3s;
}

.card-w-header{
    text-align: center;
    padding: 20px 10px;
    color: #fff;
}

.card-w-body img{
    
    border-radius: 100%;
    width: 50%;
    padding-bottom: 10px;
    
}

.card-w-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-warning:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0 , 0 , 0 , 0.25);
}


/* - - - - - PHOTO CARDS - - - - - */

.card-photo{
    width: 30%;
    background-color: white;
    margin-bottom: 50px;
    transition: 0.3s;
    
}

.card-ph-img{
    text-align: center;
    padding: 0;
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
    text-align: center;

}

.card-ph-foot{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-photo:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0 , 0 , 0 , 0.25);
}


/* - - - - - CONTENT CARD - - - - - */

.card-content{
    width: 50%;
    background-color: white;
    margin-bottom: 50px;
    transition: 0.3s;
    
}

.card-c-header{
    text-align: center;
    padding: 20px 20px;
    color: #fff;
    font-size: 40px;
}

.card-c-body{
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

.card-c-foot{
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.card-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0 , 0 , 0 , 0.25);
}


/* - - - - - TEXT COLORS - - - - - */

.underline-none{
    text-decoration: none;
}

.txt-dark{
    color: black;
}

.txt-light{
    color: white;
}

.txt-gray{
    color: #c9c9c9;
}

.txt-forest{
    color:#022c15d2;
}

.txt-beach{
    color: #ff4b2b;
}

.txt-stella{
    color: #5b006d;
}

.txt-sally{
    color: #ffa44f;
}

.txt-denied{
    color: #680404d2;
}

.txt-default{
    color: #313eb6;
}


/* - - - - - TEXT TYPES - - - - - */

.txt-justify{
    text-align: justify;
    text-justify: inter-word;
}

.txt-center{
    text-align: center;
}

.txt-left{
    text-align: left;
}

.txt-right{
    text-align: right;
}

.txt-end{
    text-align: end;
}

.font-b{
    font-weight: bold !important;
}

.font-i{
    font-style: italic !important;
}


/* - - - - - TEXT FONT - - - - - */

.txt-arial{
    font-family: Arial, Helvetica, sans-serif;
}

.txt-sans{
    font-family: sans-serif;
}

.txt-consola{
    font-family: "Lucida Console", monospace;
}


/* - - - - - BACKGROUND PLAIN COLORS - - - - - */

.bg-beach-pl{
    background: #ff4b2b;
   
}

.bg-forest-pl{
    background:  #022c15d2;
}

.bg-denied-pl{
    background: #680404d2;
    
}

.bg-sally-pl{
    background: #ffa44f;
    
}

.bg-default-pl{
    background:  #313eb6;
   
}

.bg-stella-pl{
    background: #5b006d;
    
}

.bg-light-pl{
    background:  white;
   
}

.bg-dark-pl{
    background:  #000000;
   
}

.bg-gray-pl{
    background: #c9c9c9;
}

/* - - - - - BACKGROUND COLORS (GRADIENTS) - - - - - */

.bg-beach-gr{
    background: linear-gradient(to right, #ff416c, #ff4b2b);
   
}

.bg-forest-gr{
    background: linear-gradient(to right, #17d36bd2, #022c15d2);
}

.bg-denied-gr{
    background: linear-gradient(to right, rgb(250, 65, 65), #680404d2);
    
}

.bg-sally-gr{
    background: linear-gradient(to right, rgb(255, 243, 73), #ffa44f);
    
}

.bg-default-gr{
    background: linear-gradient(to right, #3e90fc, #313eb6);
   
}

.bg-stella-gr{
    background: linear-gradient(to right, #2e04a1, #5b006d);
    
}

.bg-light-gr{
    background: linear-gradient(to right, rgb(255, 255, 255), #c9c9c9);
   
}

.bg-dark-gr{
    background: linear-gradient(to right, rgb(83, 83, 83), #000000);
   
}

.bg-img{
    background-image: url(fondo2.jpg);
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right, rgb(255, 255, 255), #c9c9c9);

}



/* - - - - - BORDERS - - - - -*/

.border-light{
    border: 1px solid white;
}
.border-gray{
    border: 1px solid #c9c9c9;
}

.border-dark{
    border: 1px solid #000;
}

.border-sally{
    border: 1px solid  #ffa44f;
}

.border-beach{
    border: 1px solid  #ff4b2b;
}

.border-denied{
    border: 1px solid  #680404d2;
}

.border-stella{
    border: 1px solid   #5b006d;
}

.border-default{
    border: 1px solid  #313eb6;
}

.border-forest{
    border: 1px solid  #022c15d2;
}


.b-on{
    border: 1px solid #ccc;
}

.b-off{
    border: none;
}

.b-radius-0{
    border-radius: 0 !important;
}

.b-radius-1{
    border-radius: 10px;
}

.bt-radius-1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bb-radius-1{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.b-radius-2{
    border-radius: 20px;
}

.bt-radius-2{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bb-radius-2{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.b-radius-3{
    border-radius: 30px;
}

.bt-radius-3{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.bb-radius-3{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


/* - - - - - ANIMATION - - - - -*/

.static:hover{
    transform: none;
    box-shadow: 0 0 40px -10px rgba(0 , 0 , 0 , 0.25);
}



/* - - - - - MARGINS - - - - -*/

.ml-25{
    margin-left: 25px;
}

.ml-50{
    margin-left: 50px;
}

.ml-100{
    margin-left: 100px;
}

.ml-200{
    margin-left: 200px;
}

.ml-300{
    margin-left: 300px;
}

.ml-400{
    margin-left: 400px;
}

.ml-500{
    margin-left: 500px;
}


.mr-25{
    margin-right: 25px;
}

.mr-50{
    margin-right: 50px;
}

.mr-100{
    margin-right: 100px;
}

.mr-200{
    margin-right: 200px;
}

.mr-300{
    margin-right: 300px;
}

.mr-400{
    margin-right: 400px;
}

.mr-500{
    margin-right: 500px;
}


.mt-25{
    margin-top: 25px;
}

.mt-50{
    margin-top: 50px;
}

.mt-100{
    margin-top: 100px;
}

.mt-200{
    margin-top: 200px;
}

.mt-300{
    margin-top: 300px;
}

.mt-400{
    margin-top: 400px;
}

.mt-500{
    margin-top: 500px;
}


.mb-25{
    margin-bottom: 25px;
}

.mb-50{
    margin-bottom: 50px;
}

.mb-100{
    margin-bottom: 100px;
}

.mb-200{
    margin-bottom: 200px;
}

.mb-300{
    margin-bottom: 300px;
}

.mb-400{
    margin-bottom: 400px;
}

.mb-500{
    margin-bottom: 500px;
}















/*   RESPONSIVE  */

@media screen and (max-width: 1000px){
    .card{
        width: 40%;
    }
}

@media screen and (max-width: 620px){
    .container{
        width: 100%;
    }

    .heading{
        padding: 20px;
        font-size: 20px;
    }

    .card{
        width: 80%;
    }
}

@media screen and (max-width: 1000px){
    .card-profile{
        width: 40%;
    }
}

@media screen and (max-width: 620px){
    .container{
        width: 100%;
    }

    .heading{
        padding: 20px;
        font-size: 20px;
    }

    .card-profile{
        width: 80%;
    }
}


@media screen and (max-width: 1000px){
    .card-warning{
        width: 40%;
    }
}

@media screen and (max-width: 620px){
    .container{
        width: 100%;
    }

    .heading{
        padding: 20px;
        font-size: 20px;
    }

    .card-warning{
        width: 80%;
    }
}


@media screen and (max-width: 1000px){
    .card-photo{
        width: 40%;
    }
}
@media screen and (max-width: 620px){
    .container{
        width: 100%;
    }
    .heading{
        padding: 20px;
        font-size: 20px;
    }

    .card-photo{
        width: 80%;
    }
}

@media screen and (max-width: 1000px){
    .card-content{
        width: 40%;
    }
}
@media screen and (max-width: 620px){
    .container{
        width: 100%;
    }

    .heading{
        padding: 20px;
        font-size: 20px;
    }

    .card-content{
        width: 80%;
    }
}

